docker-compose.yaml
.bashrc
.bash_history
.profile
.config/
.local/
.cache/

*.ipython/
*.pyc
*.pdf
*.python_history

.__pycache__/
.ipynb_checkpoints/
.jupyter/

*~

workspace/designs/eyeriss_like/ver*
workspace/figures/*
workspace/plot_fig11.ipynb
